*{
    margin: 0px auto;
    padding: 0px;
  }
  html, body{
    font-size: 12px;
  }
  body{
    width: 100%;
    height: 400px;
    margin: 0px auto;
    background-color: black;
  }
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  img{
    border: 0px;
    margin: 0px;
    padding: 0px;
  }
body {
	 height: 100%;
     background-color: #000;
     color: #fff;
     background-image: url("../img/loginback.png");
     background-repeat: no-repeat;
     background-position:inherit;
     background-size: cover;
}

.login {
     background-color: #000;
     width: 400px;
     height: 400px;
     margin: 7em auto;
     border-radius: 1.5em;
     box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
     margin-top: 300px;
}
    
.sign {
     padding-top: 40px;
     color: #fff;
     font-weight: bold;
     font-size: 35px;
     padding-bottom: 30px;
}
.login .sign{
     text-align: center;
} 
.login .forgot{
     font-size:20px;
     text-align: center;
}
.un {
     width: 76%;
     color: #fff;
     font-weight: 700;
     font-size: 14px;
     letter-spacing: 1px;
     background: rgba(136, 126, 126, 0.04);
     padding: 10px 20px;
     border: none;
     border-radius: 20px;
     outline: none;
     box-sizing: border-box;
     border: 2px solid rgba(0, 0, 0, 0.02);
     margin-bottom: 50px;
     margin-left: 46px;
     text-align: center;
     margin-bottom: 27px;
     font-family: 'Ubuntu', sans-serif;
}
    
form.form1 {
     padding-top: 40px;
}
    
.pass {
     width: 76%;
     color: #fff;
     font-weight: 700;
     font-size: 14px;
     letter-spacing: 1px;
     background: rgba(136, 126, 126, 0.04);
     padding: 10px 20px;
     border: none;
     border-radius: 20px;
     outline: none;
     box-sizing: border-box;
     border: 2px solid rgba(0, 0, 0, 0.02);
     margin-bottom: 50px;
     margin-left: 46px;
     text-align: center;
     margin-bottom: 27px;
     font-family: 'Ubuntu', sans-serif;
}
    
   
.un:focus, .pass:focus {
     border: 2px solid rgba(0, 0, 0, 0.18) !important;
}
    
.submit {
     cursor: pointer;
     border-radius: 5em;
     color: #fff;
     background: linear-gradient(to right, #9C27B0, #E040FB);
     border: 0;
     padding-left: 40px;
     padding-right: 40px;
     padding-bottom: 10px;
     padding-top: 10px;
     font-family: 'Ubuntu', sans-serif;
     margin-left: 35%;
     font-size: 13px;
     box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.forgot {
     text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
     color: #E1BEE7;
     padding-top: 15px;
}
    
 a {
     text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
     color: #fff;
     text-decoration: none
    }
 .sign .butt {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 9px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  margin: 0 auto;
  size: 20px;
  width: 100;
  font-size:20px;
  margin-top: 30px;
}

.butt .text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.butt:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.butt:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.butt:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
        